@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Oxygen", sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	background: url(./media/basic-pics/wallpapers-hd-forest-hd-desktop-wallpapers-amazing-windows-1920x1080.jpg);
	filter: blur(5px) opacity(25%);
}
.container {
	border: 1px solid #333;
	padding: 2rem;
	border-radius: 6px;
	box-shadow: 0 0 3px #333;
}
.form-control {
	position: relative;
	margin: 20px 0;
	width: 300px;
}

.form-control input {
	border: 0;
	border-bottom: 2px solid #333;
	font-size: 18px;
	font-family: inherit;
	padding: 15px 0;
	outline: none;
	transition: all 0.2s ease-in;
	background: transparent;
}
.form-control input:focus,
.form-control input:valid {
	border-bottom-color: darkcyan;
}
.form-control label {
	position: absolute;
	font-size: 18px;
	top: 15px;
	left: 0;
	z-index: -1;
}
.form-control input:focus + label,
form-control input:valid + label {
  color:darkcyan;
  transform: translateY(-30px);
  font-size:14px;
  transition:all 0.5s ease;
}
button{
  padding:1rem 2rem;
  margin:2rem auto;
}
